[Unit]
Description=Telegram Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/telegram_bot
ExecStart=/root/telegram_bot/venv/python3 /root/telegram_bot/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target